[Unit]
Description=Wake-on-LAN web service
After=network.target

[Service]
Environment=GOPATH=/ssd1/go
Environment=PATH=${PATH}:${GOPATH}/bin
ExecStart=/ssd1/apps/WOLWebService/build/dist/wolwebservice
WorkingDirectory=/ssd1/apps/WOLWebService/build/dist/
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target