[Unit]
Description=Turn on Webservice
After=network.target

[Service]
ExecStart=/home/pi/turnon/turnon
WorkingDirectory=/home/pi/turnon
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
